.card {
    position: relative;
    border-radius: 24px;
    padding: 32px 12px;
    height: 100%;
    background-color: var(--white);
}

.card_descr {
    margin-bottom: 24px;
}

.card__icon {
    margin-bottom: 20px;
}

.card__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
}

.card__text {
    font-weight: 400;
    line-height: 140%;
    color: var(--lightgray);
    text-wrap: nowrap;
}

.card__price-wrap {
    margin-bottom: 8px;
    border-radius: 20px;
    padding: 32px 24px 24px;
    background: var(--bg);
}

.card__price {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

.card__timing {
    display: block;
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 140%;
    color: var(--lightgray);
}

.card__btn {
    border-radius: 16px;
    width: 100%;
    height: 64px;
    font-weight: 600;
    line-height: 120%;
    color:var(--white);
    background-color: var(--black);
}

.card__advantages-wrap {
    padding: 24px 12px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

.card__advantages-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__advantages-item {
    display: flex;
}

.card__advantages-item::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    background-image: url('../img/card__list-marker.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.card--basic-rate {
    border: 4px solid var(--yellow);
}


.card__price-wrap--basic-rate {
    background: url('../img/base-bg.png'), linear-gradient(180deg, #E0B330 0%, #FBEE88 51.1%, #E0B330 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.card__price--basic-rate {
    color: var(--white);
}

.card__timing--basic-rate {
    color: var(--white);
}

.card-badge {
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 16px 16px 0 0;
    padding: 8px 12px ;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: var(--white);
    background: linear-gradient(180deg, #FFF289 0%, #D2A41D 100%), #FFF;
    transform: translate(-50%, -100%);
}

.card-timer {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 1000px;
    padding: 8px 12px ;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var(--red);
    background-color: var(--bg-red);
    transform: translate(20%, 50%);
    gap: 5px;
}


@media (width <= 1280px) {
    .card__icon {
        width: 72px;
        height: 72px;
    }

    .card__title {
        font-size: 24px;
    }

    .card__price {
        font-size: 32px;
    }

    .card__btn {
        font-size: 16px;
    }

  }

  @media (width <= 1023px) {
    .card {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        padding: 12px 12px 12px 24px;
    }



    .card_descr {
        grid-area: 1 / 1 / 4 / 2;
        text-align: start;
    }

    .card__price-wrap {
      grid-area: 1 / 2 / 7 / 3;
    }

    .card__garant-btn
    {
      grid-area: 7 / 2 / 9 / 3;
      width: 100%;
    }

    .card__price-wrap--btn-none {
      grid-area: 1 / 2 / 9 / 3;
    }

    .card__advantages-wrap {
      grid-area: 4 / 1 / 9 / 2;
    }


  }

  @media (width <= 743px) {
    .card {
        display: block;
        padding: 24px;
    }

    .card_descr {
        text-align: center;
    }

    .card__icon {
        width: 64px;
        height: 64px;
    }

    .card__title {
        font-size: 20px;
    }

    .card__price {
        font-size: 24px;
    }

  }

